<section>

    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#weapons" aria-controls="weapons" role="tab" data-toggle="tab">Weapons</a></li>
            <li role="presentation"><a href="#weaponTypes" aria-controls="weaponTypes" role="tab" data-toggle="tab">Weapon Types</a></li>
            <li role="presentation"><a href="#attackTypes" aria-controls="attackTypes" role="tab" data-toggle="tab">Attack Types</a></li>
            <li role="presentation"><a href="#damageTypes" aria-controls="damageTypes" role="tab" data-toggle="tab">Damage Types</a></li>
            <li role="presentation"><a href="#monsters" aria-controls="monsters" role="tab" data-toggle="tab">Monsters</a></li>
            <li role="presentation"><a href="#armor" aria-controls="armor" role="tab" data-toggle="tab">Armor</a></li>
            <li role="presentation"><a href="#items" aria-controls="items" role="tab" data-toggle="tab">Items</a></li>

            <li role="presentation"><a href="#environments" aria-controls="environments" role="tab" data-toggle="tab">Environments</a></li>
            <li role="presentation"><a href="#rooms" aria-controls="rooms" role="tab" data-toggle="tab">Rooms</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="weapons">
                <h3>Weapons</h3>
                <!--<button class="btn btn-primary" data-toggle="modal" data-target="#weaponModal">Create Weapon</button>-->
                <button data-bind="click: toggleCreateWeapon">Create Weapon</button>
                <div class="col-md-12 dataTable">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td class="dataTableIdField">ID</td>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Speed</td>
                                    <td>Weight</td>
                                    <td>Min. Durability</td>
                                    <td>Max. Durability</td>
                                    <td>Min. Damage</td>
                                    <td>Max. Damage</td>
                                    <td>Min. Value</td>
                                    <td>Max. Value</td>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: weapons">
                                <tr>
                                    <td data-bind="text:id"></td>
                                    <td data-bind="text:Name"></td>
                                    <!--ko if: weapon_types != undefined-->
                                    <td data-bind="text:weapon_types.Name"></td>
                                    <!--/ko-->
                                    <!--ko if: weapon_types == undefined-->
                                    <td data-bind="text:TypeId"></td>
                                    <!--/ko-->
                                    <td data-bind="text:Speed"></td>
                                    <td data-bind="text:Weight"></td>
                                    <td data-bind="text:Min_Durability"></td>
                                    <td data-bind="text:Max_Durability"></td>
                                    <td data-bind="text:Min_Damage"></td>
                                    <td data-bind="text:Max_Damage"></td>
                                    <td data-bind="text:Min_Value"></td>
                                    <td data-bind="text:Max_Value"></td>
                                </tr>
                            </tbody>
                            <!--ko if: createNewWeapon()-->
                            <tbody>
                                <tr>
                                    <td style="min-width:100px;">
                                        <i class="fa fa-floppy-o fa-2x" style="margin-right:10px;" aria-hidden="true" data-bind="click:saveWeapon"></i>
                                        <i class="fa fa-trash fa-2x" aria-hidden="true" data-bind="click: toggleCreateWeapon"></i>
                                    </td>
                                    <td><input type="text" class="dataTableInput" data-bind="value:newWeapon().Name" /></td>
                                    <td><select data-bind="options: weaponTypes, optionsText: 'Name', value: newWeapon().TypeId, optionsValue: 'id'"></select></td>
                                    <td><input type="text" class="dataTableInput" data-bind="value:newWeapon().Speed" /></td>
                                    <td><input type="text" class="dataTableInput" data-bind="value:newWeapon().Weight" /></td>
                                    <td><input type="text" class="dataTableInput" data-bind="value:newWeapon().Min_Durability" /></td>
                                    <td><input type="text" class="dataTableInput" data-bind="value:newWeapon().Max_Durability" /></td>
                                    <td><input type="text" class="dataTableInput" data-bind="value:newWeapon().Min_Damage" /></td>
                                    <td><input type="text" class="dataTableInput" data-bind="value:newWeapon().Max_Damage" /></td>
                                    <td><input type="text" class="dataTableInput" data-bind="value:newWeapon().Min_Value" /></td>
                                    <td><input type="text" class="dataTableInput" data-bind="value:newWeapon().Max_Value" /></td>
                                </tr>
                            </tbody>
                            <!--/ko-->
                        </table>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="weaponTypes">
                <h3>Weapon Types</h3>
                <!--<button data-toggle="modal" data-target="#weaponTypeModal">Create Weapon Type</button>-->
                <button data-bind="click: toggleCreateWeaponType">Create Weapon Type</button>
                <div class="col-md-12 dataTable">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td class="dataTableIdField">ID</td>
                                    <td>Name</td>
                                    <td>Description</td>
                                    <td>Hands Required</td>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: weaponTypes">
                                <tr>
                                    <td data-bind="text: id"></td>
                                    <td data-bind="text: Name"></td>
                                    <td data-bind="text: Description"></td>
                                    <td data-bind="text: Hands_Required"></td>
                                </tr>
                            </tbody>
                            <!--ko if: createNewWeaponType()-->
                            <tbody>
                                <tr>
                                    <td style="min-width:60px;">
                                        <i class="fa fa-floppy-o fa-2x" style="margin-right:10px;" aria-hidden="true" data-bind="click:saveWeaponType"></i>
                                        <i class="fa fa-trash fa-2x" aria-hidden="true" data-bind="click: toggleCreateWeaponType"></i>
                                    </td>
                                    <td><input type="text" class="dataTableInput" data-bind="value: newWeaponType().Name" /></td>
                                    <td><input type="text" class="dataTableInput" data-bind="value: newWeaponType().Description" /></td>
                                    <td><input type="text" class="dataTableInput" data-bind="value: newWeaponType().Hands_Required" /></td>
                                </tr>
                            </tbody>
                            <!--/ko-->
                        </table>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="attackTypes">
                <h3>Attack Types</h3>
                <!--<button class="btn btn-primary" data-toggle="modal" data-target="#attackTypeModal">Create Attack Type</button>-->
                <button data-bind="click: toggleCreateAttackType">Create Attack Type</button>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="dataTableIdField">Id</td>
                            <td>Name</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: attackTypes">
                        <tr>
                            <td data-bind="text: id"></td>
                            <td data-bind="text: Name"></td>
                        </tr>
                    </tbody>
                    <!--ko if: createNewAttackType()-->
                    <tbody>
                        <tr>
                            <td>
                                <i class="fa fa-floppy-o fa-2x" style="margin-right:10px;" aria-hidden="true" data-bind="click:saveAttackType"></i>
                                <i class="fa fa-trash fa-2x" aria-hidden="true" data-bind="click: toggleCreateAttackType"></i>
                            </td>
                            <td><input type="text" class="dataTableInput" data-bind="newAttackType().Name" /></td>
                        </tr>
                    </tbody>
                    <!--/ko-->
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="damageTypes">
                <h3>Damage Types</h3>
                <!--<button class="btn btn-primary" data-toggle="modal" data-target="#damageTypeModal">Create Damage Type</button>-->
                <button data-bind="click: toggleCreateDamageType">Create Damage Type</button>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="dataTableIdField">Id</td>
                            <td>Name</td>
                            <td>Attack_Type_Id</td>
                            <td>Attack_Type_Name</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: damageTypes">
                        <tr>
                            <td data-bind="text: id"></td>
                            <td data-bind="text: Name"></td>
                            <td data-bind="text: Attack_Type_Id"></td>
                            <td data-bind="text: attack_type.Name"></td>
                        </tr>
                    </tbody>
                    <!--ko if: createNewDamageType()-->
                    <tbody>
                        <tr>
                            <td>
                                <i class="fa fa-floppy-o fa-2x" style="margin-right:10px;" aria-hidden="true" data-bind="click:saveDamageType"></i>
                                <i class="fa fa-trash fa-2x" aria-hidden="true" data-bind="click: toggleCreateDamageType"></i>
                            </td>
                            <td><input type="text" class="dataTableInput" data-bind="value: newDamageType().Name" /></td>
                            <td><select data-bind="options: attackTypes, optionsText: 'Name', value: newDamageType().Attack_Type_Id, optionsValue: 'id'" class="dataTableInput"></select></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <!--/ko-->
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="armor"></div>
            <div role="tabpanel" class="tab-pane" id="items"></div>
            <div role="tabpanel" class="tab-pane" id="monsters">
                <h3>Monsters</h3>
                <!--<button class="btn btn-primary" data-toggle="modal" data-target="#monsterModal">Create Monster</button>-->
                <button data-bind="click: toggleCreateMonster">Create Monster</button>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="dataTableIdField">Id</td>
                            <td>Name</td>
                            <!--<td>sprite</td>-->
                            <td>damage_type_id</td>
                            <td>level</td>
                            <td>experience</td>
                            <td>difficulty</td>
                            <td>health_min</td>
                            <td>health_max</td>
                            <td>resistance_ice (%)</td>
                            <td>resistance_fire (%)</td>
                            <td>resistance_electric (%)</td>
                            <td>resistance_poison (%)</td>
                            <td>resistance_melee (%)</td>
                            <td>resistance_projectile (%)</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: monsters">
                        <tr>
                            <td data-bind="text:id"></td>
                            <td data-bind="text:Name"></td>
                            <!--<td data-bind="text:"></td>-->
                            <!--ko if: damage_type == undefined-->
                            <td data-bind="text:damage_type_id"></td>
                            <!--/ko-->
                            <!--ko if: damage_type != undefined-->
                            <td data-bind="text: damage_type.Name"></td>
                            <!--/ko-->
                            <td data-bind="text:level"></td>
                            <td data-bind="text:experience"></td>
                            <td data-bind="text:difficulty"></td>
                            <td data-bind="text:health_min"></td>
                            <td data-bind="text:health_max"></td>
                            <td data-bind="text:resistance_ice"></td>
                            <td data-bind="text:resistance_fire"></td>
                            <td data-bind="text:resistance_electric"></td>
                            <td data-bind="text:resistance_poison"></td>
                            <td data-bind="text:resistance_melee"></td>
                            <td data-bind="text:resistance_projectile"></td>
                        </tr>
                    </tbody>
                    <!--ko if: createNewMonster()-->
                    <tbody>
                        <tr>
                            <td>
                                <i class="fa fa-floppy-o fa-2x" style="margin-right:10px;" aria-hidden="true" data-bind="click:saveMonster"></i>
                                <i class="fa fa-trash fa-2x" aria-hidden="true" data-bind="click: toggleCreateMonster"></i>
                            </td>
                            <td><input type="text" class="dataTableInput" data-bind="value: newMonster().Name"/></td>
                            <td><select class="dataTableInput" data-bind="options: damageTypes, optionsText: 'Name', value: newMonster().damage_type_id, optionsValue: 'id'"></select></td>
                            <td><input type="text" class="dataTableInput" data-bind="value: newMonster().level"/></td>
                            <td><input type="text" class="dataTableInput" data-bind="value: newMonster().experience"/></td>
                            <td><input type="text" class="dataTableInput" data-bind="value: newMonster().difficulty"/></td>
                            <td><input type="text" class="dataTableInput" data-bind="value: newMonster().health_min"/></td>
                            <td><input type="text" class="dataTableInput" data-bind="value: newMonster().health_max"/></td>
                            <td><input type="text" class="dataTableInput" data-bind="value: newMonster().resistance_ice"/></td>
                            <td><input type="text" class="dataTableInput" data-bind="value: newMonster().resistance_fire"/></td>
                            <td><input type="text" class="dataTableInput" data-bind="value: newMonster().resistance_electric"/></td>
                            <td><input type="text" class="dataTableInput" data-bind="value: newMonster().resistance_poison"/></td>
                            <td><input type="text" class="dataTableInput" data-bind="value: newMonster().resistance_melee"/></td>
                            <td><input type="text" class="dataTableInput" data-bind="value: newMonster().resistance_projectile"/></td>
                        </tr>
                    </tbody>
                    <!--/ko-->
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="environments"></div>
            <div role="tabpanel" class="tab-pane" id="rooms"></div>

        </div>
    </div>
</section>
